
doctype html
html(lang='en')
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title #{title}
  body
    h1 #{title}
    p
      a(href='https://samhogy.co.uk') Sam Hogarth
    ul
      each val in talks
        li
          a(href="./" + val) #{val}
