
doctype html
html(lang='en')
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title #{title}
    link(rel='stylesheet', href='../lib/reset.css')
    link(rel='stylesheet', href='../lib/reveal.css')
    link(rel='stylesheet', href='../lib/theme/hogy-white.css')
  body
    div(class='reveal')
     div(class='slides')
      section#title
        h2(class='r-fit-text') #{title}
        p
          a(href='https://samhogy.co.uk') Sam Hogarth
     
    script(src='../lib/reveal.js')
    script
      include init.js
